@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* VARIABLES */
:root {
  --header-height: 3rem;
  /* Colors */
  --hue-color: 206;
  --black-color: hsl(var(--hue-color), 4%, 4%);
  --black-color-alt: hsl(var(--hue-color), 4%, 8%);
  --title-color: hsl(var(--hue-color), 4%, 95%);
  --text-color: hsl(var(--hue-color), 4%, 75%);
  --text-color-light: hsl(var(--hue-color), 4%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 4%, 6%);
  --container-color: hsl(var(--hue-color), 4%, 10%);
  --text-gradient: linear-gradient(
    hsl(var(--hue-color), 4%, 24%),
    hsl(var(--hue-color), 4%, 8%)
  );
  --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%);
  --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%);
  /* Font and typography */
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --text-line-height: 2rem;
  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;
  /* Margins Bottom */
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: transparent;
  background-color: var(--body-color);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  width: 1.5rem;
}

.nav__toggle {
  font-size: 1.2rem;
  color: var(--white-color);
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.home__img {
  width: 250px;
  right: 1.5rem;
}

.home__data {
  padding-top: 5rem;
}

.home__header {
  position: relative;
}

.home__title {
  position: absolute;
  top: -4rem;
  left: 1rem;
  line-height: 6rem;
  font-size: var(--biggest-font-size);
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.home__subtitle {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-2-5);
}

.home__title-description {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.home__description {
  margin-bottom: var(--mb-2-5);
  line-height: var(--text-line-height);
}

.button {
  display: inline-block;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--black-color-alt);
}

a,
.button__icon {
  font-size: 1.2rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.75rem;
}

.section__title {
  font-size: var(--bigger-font-size);
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.section__title-gradient {
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.techs__container {
  display: flex;
  justify-content: center;
}

.techs__content {
  row-gap: 1.5rem;
}

.techs__data {
  display: grid;
  row-gap: 0.25rem;
}

.techs__icon {
  font-size: 1.5rem;
  padding-left: 0;
  color: var(--white-color);
}

.techs__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.techs__subtitle {
  font-size: var(--smaller-font-size);
}

.projects__line {
  line-height: 4rem;
}

.projects__container {
  grid-template-columns: repeat(2, 475px);
  gap: 5rem 1.5rem;
  padding-top: 3rem;
}

.projects__content {
  padding-top: 18rem;
}

.projects__button {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.35rem;
  font-size: 1.5rem;
}

.projects__button2 {
  position: absolute;
  right: 3.75rem;
  bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.35rem;
  font-size: 2.5rem;
}

.projects__container {
  grid-template-columns: repeat(1, auto);
  gap: 6rem 3rem;
  padding-top: 5rem;
}

.projects__card {
  position: relative;
  height: 750px;
  width: auto;
  background-color: var(--container-color);
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: grid;
}

.projects__img {
  width: auto;
  height: 200px;
  position: absolute;
  inset: 0;
  margin-right: auto;
  margin-left: auto;
  top: 1rem;
}

.projects__content {
  padding-top: 15rem;
}

.footer {
  background-color: var(--body-color);
}

.footer__copy {
  margin-top: 2rem;
  text-align: center;
}

.footer__copy-link {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.footer__copy-link:hover {
  color: var(--text-gradient);
}

.contact__link {
  margin-top: 2rem;
  text-align: center;
}

.contact__container {
  display: flex;
  justify-content: center;
}

.input__group {
  margin-bottom: 2rem;
  position: relative;
}

.form {
  width: 55rem;
}

.input__group {
  margin-bottom: 2rem;
  position: relative;
}

.input,
.textarea {
  width: 100%;
  padding: 0.75rem;
  outline: 0;
  border: 1px solid #fff;
  background: transparent;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.label {
  font-size: var(--small-font-size);
  position: absolute;
  left: 0;
  top: -2rem;
  padding: 0.5rem;
}

.form__button {
  padding: 0.75rem;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .input__group {
  flex-basis: 48%;
}

.contact__links {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.contact__row {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

@media screen and (max-width: 340px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__data {
    padding-top: 3rem;
  }

  .home__title {
    top: -4rem;
    font-size: var(--bigger-font-size);
  }

  .home__description {
    font-size: var(--small-font-size);
  }
}

@media screen and (min-width: 320px) {
  .projects__container {
    grid-template-columns: 310px;
    justify-content: center;
  }

  .projects__card {
    position: relative;
    height: 825px;
    width: 310px;
    background-color: var(--container-color);
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: grid;
  }

  .projects__img {
    width: 290px;
    height: 200px;
    position: absolute;
    inset: 0;
    margin-right: auto;
    margin-left: auto;
    top: 1rem;
  }

  .projects__content {
    padding-top: 15rem;
  }
}

@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: 0.8fr 1fr;
  }

  .home__img {
    top: -7rem;
    left: 0;
    width: 200px;
    margin-left: 3rem;
    margin-top: 5rem;
  }

  .home__data {
    padding-top: 4.5rem;
  }

  .techs__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }

  /* .projects__container {
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
  } */

  .projects__container {
    grid-template-columns: repeat(1, 500px);
    gap: 6rem 3rem;
    padding-top: 5rem;
  }

  .projects__card {
    position: relative;
    height: 700px;
    width: 500px;
    background-color: var(--container-color);
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: grid;
  }

  .projects__img {
    width: 400px;
    height: 250px;
    position: absolute;
    inset: 0;
    margin-right: auto;
    margin-left: auto;
    top: 1rem;
  }

  .projects__content {
    padding-top: 17rem;
  }
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0 3rem;
    transition: 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.nav__link {
  color: var(--white-color);
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.4s;
}

.nav__link:hover {
  background: var(--white-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav__close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  color: var(--white-color);
  cursor: pointer;
}

.show-menu {
  top: 0;
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__logo {
    width: 2rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }
  .nav__link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .home__container {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
  }

  .home__img {
    top: -9rem;
    left: 4rem;
  }

  .home__data {
    padding-top: 8rem;
  }

  .projects__container {
    grid-template-columns: repeat(1, 600px);
    gap: 6rem 3rem;
    padding-top: 5rem;
  }

  .projects__card {
    position: relative;
    height: 700px;
    width: 600px;
    background-color: var(--container-color);
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: grid;
  }

  .projects__img {
    width: 450px;
    height: 270px;
    position: absolute;
    inset: 0;
    margin-right: auto;
    margin-left: auto;
    top: 1rem;
  }

  .projects__content {
    padding-top: 19rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 350px;
    margin-left: 4rem;
    margin-top: 4rem;
  }

  .home__title {
    top: -5rem;
    left: 3.5rem;
  }

  .home__description {
    padding-right: 5rem;
  }

  .projects__container {
    grid-template-columns: repeat(2, 475px);
    gap: 6rem 3rem;
    padding-top: 5rem;
  }

  .projects__card {
    position: relative;
    height: 700px;
    width: 475px;
    background-color: var(--container-color);
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: grid;
  }

  .projects__img {
    width: 375px;
    height: 200px;
    position: absolute;
    inset: 0;
    margin-right: auto;
    margin-left: auto;
    top: 1rem;
  }

  .projects__content {
    padding-top: 14rem;
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }

  .projects__container {
    grid-template-columns: repeat(2, 650px);
    gap: 6rem 3rem;
    padding-top: 5rem;
  }

  .projects__card {
    position: relative;
    height: 700px;
    width: 650px;
    background-color: var(--container-color);
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: grid;
  }

  .projects__content {
    padding-top: 18rem;
  }

  .projects__img {
    width: 450px;
    height: 250px;
    position: absolute;
    inset: 0;
    margin-right: auto;
    margin-left: auto;
    top: 1rem;
  }
}

@media screen and (min-width: 2560px) {
  .container {
    max-width: 2000px;
  }

  .projects__container {
    grid-template-columns: repeat(2, auto);
    gap: 6rem 3rem;
    padding-top: 5rem;
  }

  .projects__card {
    position: relative;
    height: 700px;
    width: auto;
    background-color: var(--container-color);
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: grid;
  }

  .projects__content {
    padding-top: 23rem;
  }

  .projects__img {
    width: 600px;
    height: 300px;
    position: absolute;
    inset: 0;
    margin-right: auto;
    margin-left: auto;
    top: 1rem;
  }
}